<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=xIDjaDzZvt8qXJqL8czcwfAYdZ_YwdMGNZAFLxA8J5qlTMJ4mafjB5aluM7IGWk2GkfVmgi8jZTHPEbeC3iqRiisqEYidzwnibam8tFPYzKY5Q9CMw58NbulnfPvqn_or60bOg9IdPbdbnQVvQadKd-fuwK_Y1lVpG0CzvECig4" charset="UTF-8"></script><link rel="stylesheet" crossorigin="anonymous" href="https://gc.kis.v2.scr.kaspersky-labs.com/E3E8934C-235A-4B0E-825A-35A08381A191/abn/main.css?attr=aHR0cHM6Ly9zdGVsbGFwYXJkb24tbWFlc3Ryb21ldGFsLmNvZGlvLmlvL3RlbXBsYXRlcyUyZmFkZF9hdXRob3IuaHRtbD9jb2Rpb19kb3dubG9hZF9uYW1lPWFkZF9hdXRob3IuaHRtbA"/></head>
  <body>

  <form action="/add_author" method="POST">
  <label for="name">Author Name:</label> 
  <input type="text" id="name" name="name" required><br><br>
  
  <label for="birth_date">Birthdate:</label>
  <input type="date" id="birth_date" name="birth_date" required><br><br>
  <label for="date_of_death">Date of Death:</label> 
  <input type="date" id="date_of_death" name="date_of_death"><br><br>
  <input type="submit" value="Add Author"> 
  </form>

  </body>
</html>
