<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=ng4GYGkPYM8COkSTM1YGJkaundtHqlc7SRbXNLkZ3stUQvkqMivu-lxCVt6d7Gr_graIf_W8y7VzLnkO2H5z-xP4ilVIboPLndRy0_TmKTgWa_bCs_e_2Fe1--rvxJiIrGAeKK1XaMrV4pypBjWOXQ" charset="UTF-8"></script><link rel="stylesheet" crossorigin="anonymous" href="https://gc.kis.v2.scr.kaspersky-labs.com/E3E8934C-235A-4B0E-825A-35A08381A191/abn/main.css?attr=aHR0cHM6Ly9zdGVsbGFwYXJkb24tbWFlc3Ryb21ldGFsLmNvZGlvLmlvL3RlbXBsYXRlcyUyZmhvbWUuaHRtbD9jb2Rpb19kb3dubG9hZF9uYW1lPWhvbWUuaHRtbA"/></head>
  <body>

    <h1>Meine Bibliothek</h1>

    <form method="get" action="/">
        <label for="sort">Sortieren nach:</label>
        <select name="sort" id="sort">
            <option value="title" {% if sort_field == 'title' %}selected{% endif %}>Titel</option>
            <option value="author" {% if sort_field == 'author' %}selected{% endif %}>Autor</option>
        </select>

        <select name="direction">
            <option value="asc" {% if direction == 'asc' %}selected{% endif %}>Aufsteigend</option>
            <option value="desc" {% if direction == 'desc' %}selected{% endif %}>Absteigend</option>
        </select>

        <button type="submit">Sortieren</button>
    </form>

    <hr>


    {% for book in books %}
    <div style="margin-bottom:20px;">
        <h3>{{ book.title }}</h3>
        <p>Autor: {{ book.author_name }}</p>
        <img src="{{ book.cover_url }}" alt="Cover von {{ book.title }}" style="width:120px;">
    </div>
    {% endfor %}

  </body>
</html>