<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=ng4GYGkPYM8COkSTM1YGJkaundtHqlc7SRbXNLkZ3stUQvkqMivu-lxCVt6d7Gr_graIf_W8y7VzLnkO2H5z-xP4ilVIboPLndRy0_TmKTgWa_bCs_e_2Fe1--rvxJiIrGAeKK1XaMrV4pypBjWOXQ" charset="UTF-8"></script><link rel="stylesheet" crossorigin="anonymous" href="https://gc.kis.v2.scr.kaspersky-labs.com/E3E8934C-235A-4B0E-825A-35A08381A191/abn/main.css?attr=aHR0cHM6Ly9zdGVsbGFwYXJkb24tbWFlc3Ryb21ldGFsLmNvZGlvLmlvL3RlbXBsYXRlcyUyZmhvbWUuaHRtbD9jb2Rpb19kb3dubG9hZF9uYW1lPWhvbWUuaHRtbA"/></head>
  <body>

    <h1>Meine Bibliothek</h1>

    <form method="get" action="/">
        <input type="text" name="search" placeholder="Suche nach Titel oder Autor" value="{{ search_query }}">
        <button type="submit">Suchen/Sortieren</button>

        <select name="sort">
            <option value="title" {% if sort_field == 'title' %}selected{% endif %}>Titel</option>
            <option value="author" {% if sort_field == 'author' %}selected{% endif %}>Autor</option>
        </select>
        <select name="direction">
            <option value="asc" {% if direction == 'asc' %}selected{% endif %}>Aufsteigend</option>
            <option value="desc" {% if direction == 'desc' %}selected{% endif %}>Absteigend</option>
        </select>
    </form>

    {% if message %}
        <p style="color:red;">{{ message }}</p>
    {% endif %}

    <hr>



    {% for book in books %}
    <div style="margin-bottom:20px;">
        <h3>{{ book.title }}</h3>
        <p>Autor: {{ book.author_name }}</p>
        <img src="{{ book.cover_url }}" alt="Cover von {{ book.title }}" style="width:120px;">


        <form method="POST" action="{{ url_for('delete_book', book_id=book.id) }}" style="display:inline;">
            <button type="submit">Buch löschen</button>
        </form>
    </div>
    {% endfor %}


    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul>
          {% for category, message in messages %}
            <li style="color: {% if category == 'success' %}green{% else %}red{% endif %};">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

  </body>
</html>